﻿@model webproje_g151210060.Models.tbl_Admin
@{
    ViewBag.Title = "Admin Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2><B>Admin Ekle</B></h2>
<br>

<h2 style="color:green;">@ViewBag.Mesaj</h2>
<h2 style="color:red;">@ViewBag.Hata</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>
        Adı &nbsp;  &nbsp; @Html.TextBoxFor(x => x.AdminAdi)&nbsp; &nbsp;<br>
    </p>
    <p><br>Şifre &nbsp;  @Html.PasswordFor(x => x.AdminSifre)&nbsp; &nbsp;</p>
    <br>

    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        <button type="submit" class="btn btn-primary">  Ekle  </button>
    </p>
}