﻿@model webproje_g151210060.Models.tbl_BizeUlas
@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <section id="aboutus" data-target="aboutus">
        <div class="section-area aboutus offwhite">
            <div class="container">
                <div class="title-section text-center">
                    <h1>Bize Ulasın</h1>
                    <p>Istek ve önerileriniz için lütfen yazınız...</p>
                </div>
                &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="Compose-Message">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    MESAJINIZI YAZINIZ...
                                </div>
                                <div class="panel-body">

                                    @using (Html.BeginForm())
                                    {@Html.ValidationSummary()
                                    <div class="form-group">
                                        <div class="col-md-3">Ad</div>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.BizeUlasAd)

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">Soyad</div>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.BizeUlasSoyAd)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">Email</div>

                                        <div class="col-md-9">

                                            @Html.TextBoxFor(x => x.BizeUlasMail)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">Mesaj</div>

                                        <div class="col-md-9">
                                            @Html.TextAreaFor(x => x.BizeUlasMesaj)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3"></div>

                                        <div class="col-md-9">
                                            <input type="submit" value="GÖNDER">
                                        </div>

                                    </div>

                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
