﻿<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/Admin/Content/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Areas/Admin/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Areas/Admin/Content/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="~/Areas/Admin/Content/js/jquery.min.js"></script>
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <span class="sr-only">Toggle navigation</span>

                <div class="col-md-10">
                    <div style="float:left;"><a class="navbar-brand" href="/Admin/Panel/Index">Admin Paneli</a></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"> @{Html.RenderAction("AdminName", "Panel");}<a href="/Admin/Panel/Cikis">Çıkış</a></div>


                </div>

            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            @Html.ActionLink("Anasayfa", "Index", "Panel")
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-indent nav_icon"></i> Kategoriler<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    @Html.ActionLink("Ekle", "Ekle", "Kategori")
                                </li>
                                <li>
                                    @Html.ActionLink("Düzenle/Sil", "Index", "Kategori")
                                </li>
                            </ul>
                        <li>
                            <a href="#"><i class="fa fa-laptop nav_icon"></i>Film<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <ul class="nav nav-second-level">
                                    <li>
                                        @Html.ActionLink("Ekle", "Ekle", "Film")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Düzenle/Sil", "Index", "Film")
                                    </li>
                                </ul>
                            </ul>

                        <li>
                            <a href="#"><i class="fa fa-laptop nav_icon"></i>Admin<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <ul class="nav nav-second-level">
                                    <li>
                                        @Html.ActionLink("Ekle", "Ekle", "Admin")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Düzenle/Sil", "Index", "Admin")
                                    </li>
                                </ul>
                            </ul>

                        <li>
                            <a href="#"><i class="fa fa-laptop nav_icon"></i>Bize Ulaş<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <ul class="nav nav-second-level">
                                    <li>
                                        @Html.ActionLink("Oku/Sil", "Bizeulasin", "Panel")
                                    </li>

                                </ul>
                            </ul>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="graphs">
                <div class="md">@RenderBody()</div>

            </div><div style="clear:both;" />
            <div class="copy_layout">
                Admin Paneli
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Nav CSS -->
    <link href="~/Areas/Admin/Content/css/custom.css" rel="stylesheet">
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Areas/Admin/Content/js/metisMenu.min.js"></script>
    <script src="~/Areas/Admin/Content/js/custom.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Areas/Admin/Content/js/bootstrap.min.js"></script>



</body>
</html>
