﻿
@model webproje_g151210060.Models.tbl_Kategori
@{
    ViewBag.Title = "Kategori Guncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Guncelle</h2>
<div class="row">
    <h2 style="color:green;">@ViewBag.Mesaj</h2>
    <h2 style="color:red;">@ViewBag.Hata</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p>
            Adı &nbsp;  @Html.TextBoxFor(x => x.KategoriAdi)&nbsp; &nbsp;
            <button type="submit" class="btn btn-primary">  Güncelle  </button>
        </p>
    }
</div>